
<h1>アプリケーション設定</h1>
<div class="text-right"><%= @admin.name %>としてログイン中</div>

<br>

<%#
  Student model
    /student/:id/create
    /students/create_from_csv
    /student/:id/destroy
    /students/destroy_all
    /students/reset_elected
    /students/reset_attended
    (/students/attend_at_random)

  Classroom model
%>

<div class="row">
  <div class="col-md-6">

    <!-- Student model -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Students Database</h3>
      </div>

      <div class="panel-body">
        学生データベースは、学籍番号と、出席の有無、抽選の結果を記録しています。<br>
        <%= link_to '学生一覧', students_path %>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <%= form_tag(students_path, method: :post) do %>
            <%= label_tag 'command', '学生の追加' %>
            <p>
              指定した学生の追加を行います。
            </p>
            <div class="form-group">
              <label>所属</label>
              <%= select_tag 'student[classroom_abbr]', options_for_select(@classrooms.order(grade: :asc).map(&:abbr)), class: "form-control", style: "width: 100px" %>
            </div>
            <div class="input-group">
              <%= text_field_tag 'student[student_id]', '', class: "form-control", placeholder: "学籍番号" %>
              <span class="input-group-btn">
                <%= submit_tag 'Create', class: 'btn btn-primary', disabled: false %>
              </span>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(students_create_from_csv_path, method: :post, multipart: :true) do %>
            <%= label_tag 'command', '学生一覧ファイルの読み込み' %>
            <p>
              CSVファイルから学生一覧を読み込んで、データベースに追加します。CSVファイルの形式については<%= link_to "こちら", usage_path %>。
            </p>
            <div class="input-group">
              <%= file_field_tag 'file' %>
              <span class="input-group-btn">
                <%= submit_tag 'Create', class: 'btn btn-primary' %>
              </span>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(student_path, method: :delete) do %>
            <%= label_tag 'student_id', '学生の削除' %>
            <p>
              指定した学生の削除を行います。
            </p>
            <div class="input-group">
              <%= text_field_tag 'student_id', '', class: "form-control", placeholder: "学籍番号" %>
              <span class="input-group-btn">
                <%= submit_tag 'Delete', class: 'btn btn-danger', disabled: false %>
              </span>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(students_path, method: :delete) do %>
            <%= label_tag 'command', '全学生の削除' %>
            <p>
              登録してある全学生の削除を行います。
            </p>
            <%= submit_tag 'Delete all', class: 'btn btn-danger' %>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(students_reset_attended_path) do %>
            <%= label_tag 'command', '出席の取り消し' %>
            <p>
              全学生の出席の記録を消します。
            </p>
            <%= submit_tag 'Reset', class: 'btn btn-warning' %>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(students_reset_elected_path) do %>
            <%= label_tag 'command', '抽選結果の削除' %>
            <p>
              全学生の抽選に当たった記録を消します。
            </p>
            <%= submit_tag 'Reset', class: 'btn btn-warning' %>
          <% end %>
        </li>
        <% if Rails.env.development? %>
        <li class="list-group-item">
          <%= form_tag(students_attend_at_random_path) do %>
            <%= label_tag 'command', '（開発者モード）複数のランダムな学生を出席させる' %>
            <p>
              全学生の中から複数のランダムな学生を出席させます。
            </p>
            <%= submit_tag 'Attend', class: 'btn btn-default' %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="col-md-6">

    <!-- Classrooms model -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Classrooms Database</h3>
      </div>

      <div class="panel-body">
        クラスルームデータベースは、クラスの名称と、抽選の結果を記録しています。<br>
        <%= link_to 'クラス一覧', classrooms_path %>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <%= form_tag(classrooms_path) do %>
            <%= label_tag 'classroom[class_id]', 'クラスの追加' %>
            <p>
              指定したクラスの追加を行います。
            </p>
            <%= text_field_tag 'classroom[grade]', '', class: "form-control", placeholder: "学年（例：1,2,3,4,5）" %>
            <%= text_field_tag 'classroom[classname]', '', class: "form-control", placeholder: "クラス名（例：1,2年は1~5、3,4,5年はM~C）" %>
            <%= submit_tag 'Create', class: 'btn btn-primary', disabled: false %>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(classrooms_create_from_csv_path) do %>
            <%= label_tag 'command', 'クラス一覧ファイルの読み込み' %>
            <p>
              CSVファイルからクラス一覧を読み込んで、データベースに追加します。CSVファイルの形式については<%= link_to "こちら", '#' %>。
            </p>
            <div class="input-group">
              <%= file_field_tag 'file' %>
              <span class="input-group-btn">
                <%= submit_tag 'Create', class: 'btn btn-primary', disabled: true %>
              </span>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(classroom_path, method: :delete) do %>
            <%= label_tag 'class_id', 'クラスの削除' %>
            <p>
              指定したクラスの削除を行います。
            </p>
            <div class="input-group">
              <%= text_field_tag 'classroom_abbr', '', class: "form-control", placeholder: "クラス名（例：1-2, 3M）" %>
              <span class="input-group-btn">
                <%= submit_tag 'Delete', class: 'btn btn-danger', disabled: false %>
              </span>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(classrooms_path, method: :delete) do %>
            <%= label_tag 'command', '全クラスの削除' %>
            <p>
              登録してある全クラスの削除を行います。
            </p>
            <%= submit_tag 'Delete all', class: 'btn btn-danger' %>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= form_tag(classrooms_reset_elected_path) do %>
            <%= label_tag 'command', 'クラス抽選結果の削除' %>
            <p>
              全クラスの抽選に当たった記録を消します。
            </p>
            <%= submit_tag 'Reset', class: 'btn btn-warning' %>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>
