<h1>学生一覧</h1>

<p>入場済はグリーン、当選した番号はブルーで着色されます</p>
<%= link_to '登録漏れはこちらから', new_student_path %>

<br>
<br>

<ul class="nav nav-tabs">
  <% (1..5).each do |grade| %>
    <li role="presentation" class="<%= (grade == @grade) ? "active" : "" %>">
      <%= link_to "#{grade}年", students_path(grade: grade) %>
    </li>
  <% end %>
</ul>

<br>

<% if @students.exists? %>
  <%
  # classify
  if @students.first.grade.between?(1, 2)
    group = @students.group_by(&:class_id)

    ordered_group = ActiveSupport::OrderedHash.new
    (1..5).each { |dept| ordered_group[dept] = group[dept] }

    students_keys = ordered_group.keys.map { |key| "#{key}組" }
    students      = ordered_group.values

  elsif @students.first.grade.between?(3, 5)
    group = @students.group_by(&:dept)

    ordered_group = ActiveSupport::OrderedHash.new
    %w(M E S J C).each { |dept| ordered_group[dept] = group[dept] }

    students_keys = ordered_group.keys.map { |key| "#{key}科" }
    students      = ordered_group.values
  end

  # fill with nil to equalize each array len
  max_length = students.map(&:size).max
  students.map do |classified_students|
    padding = [nil] * [max_length - classified_students.size, 0].max
    classified_students.concat(padding)
  end

  # students:
  #
  # [[13101, 13102, ..., 13139, 13140]
  #  [13201, 13202, ..., 13139, nil  ]
  #  ...
  #  [13501, 13502, ..., 13539, 13540]]
  #

  students = students.transpose

  # students:
  #
  # [[13101, 13202, ..., 13501]
  #  [13102, 13202, ..., 13502]
  #  ...
  #  [13139, 13239, ..., 13539]
  #  [13140, nil  , ..., 13540]]
  #
  %>

  <table class="table">
    <thead>
      <tr>
        <% students_keys.each do |students_key| %>
          <th><%= students_key %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% students.each do |column| %>
        <tr>
          <% column.each do |student| %>
            <td class="<%=
            if (student&.elected?) then
              "elected"
            elsif (student&.attended?) then
              "success"
            end
            %>"><%= student&.student_id %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
