
<div class="text-center">
  <h1>新規登録</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="form-group">
        <%= f.label :student_id , '学籍番号' %>
        <%= f.text_field :student_id, onkeydown: "return key_down(event.keyCode);", class: "form-control" %>
      </div>
      <div class="form-group">
        <label>学年</label>
        <%= select_tag 'student[grade]', options_for_select({ "1年" => "1", "2年" => "2", "3年" => "3", "4年" => "4", "5年" => "5" }), prompt: "学年", class: "form-control", style: "width: 100px" %>
        <label>クラス</label>
        <div class="input-group">
          <%= select_tag 'student[class_id]', options_for_select({ "1組" => "1", "2組" => "2", "3組" => "3", "4組" => "4", "5組" => "5" }), prompt: "組", class: "form-control", style: "width: 100px" %>
          <%= select_tag 'student[dept]',     options_for_select({ "M科" => "M", "E科" => "E", "S科" => "S", "J科" => "J", "C科" => "C" }), prompt: "学科", class: "form-control", style: "width: 100px" %>
        </div>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $('#student_grade').change(function () {
    var grade = $(this).val();
    switch (grade) {
      case "1":
      case "2":
        $('#student_class_id').prop('disabled', false);
        $('#student_dept').prop('disabled', true);
        break;
      case "3":
      case "4":
      case "5":
        $('#student_class_id').prop('disabled', true);
        $('#student_dept').prop('disabled', false);
        break;
      default:
        $('#student_class_id').prop('disabled', true);
        $('#student_dept').prop('disabled', true);
    }
  });

  $(function () {
    // start script
    $('#student_grade').trigger('change');
  })
</script>
