
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "ホーム", root_path %></li>
      <% if logged_in? %>
        <li><%= link_to "使い方", usage_path %></li>
        <li><%= link_to "学生証スキャナ", students_scan_path %></li>
        <li><%= link_to "学生一覧", students_path %></li>
        <li><%= link_to "ルーレット", lottery_path %></li>
        <li><%= link_to "当選番号", lottery_numbers_path %></li>
        <!-- <li><%= link_to "Admins", admins_path %></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">アカウント<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to '全体設定', current_admin %></li>
            <li><%= link_to 'アカウント設定', edit_admin_path(current_admin) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'ログアウト', logout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
